<%= turbo_frame_tag dom_id(quest) do %>
  <div class="quest-container" data-controller="quest">
    <%= quest.title %>
    <%= check_box_tag 'completed', quest.id, quest.completed?, autocomplete: 'off', data: { action: 'click->quest#toggleStatus' } %>
    <div>
      <%= link_to 'x', quest_path(quest), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: 'delete-link' %>
    </div>
  </div>
<% end %>
