<%= turbo_frame_tag dom_id(quest) do %>
  <div data-controller="quest">
    <%= link_to quest.title, edit_quest_path(quest), data: { turbo_frame: dom_id(quest) } %>
    <%= check_box_tag 'completed', quest.id, quest.completed?, autocomplete: 'off', data: { action: 'click->quest#toggleStatus' } %>
  </div>
<% end %>
