<%= turbo_frame_tag dom_id(reward) do %>
  <div data-controller="reward">
    <%= reward.title %>
    <%= reward.probability %>%
    <%= link_to 'Edit', edit_reward_path(reward), data: { turbo_frame: dom_id(reward) } %>
  </div>
<% end %>
