<div class="rewards-container">
  <%= t('rewards.title') %>
  <%= turbo_frame_tag "rewards" do %>
    <%= render @rewards %>
  <% end %>
</div>

<%= link_to t('rewards.create_new'), new_reward_path %>
